* 
{
  margin:0;
  padding:0;
  overflow:hidden;
  font-family:ubuntuFS;
}

html
{
	width:100vw;
	height:100vh;
	display:flex;
	align-items:center;
	justify-content:center;
}

@font-face
{
	font-family:ubuntuFS;
	src:url(fonts/ubuntu-text.ttf);
}

.mobile-container
{
	color:#fff;
	height:100vh;
	display:flex;
	width:100vw;
	background:#96F0B0;
	align-items:center;
	flex-direction:column;
	justify-content:center;	background:url(src/BackGD1A.png) no-repeat center fixed;
	background-size:cover
}


img
{
	max-width:100%;
	height:auto;
}

#backGR
{
	height:200px;
	width:200px; 
	background:url(src/MagicGS3A.png) no-repeat, url(src/MagicGS3B.png) repeat-x;
	background-position:0 100%, 0 100%;
	background-size:cover; 
	animation: 3s logo infinite alternate;
	border-radius:100%;
}

@keyframes logo
{
	100%{background-position:0px 100%,-400px 100%;}
}

#content-logo
{
	height:100vh;
	max-width:500px;
	display: flex;
	align-items: center;
	justify-content:center;
	flex-direction:column;
	text-align:center;
}

@media (orientation:landscape){body{flex-direction:row;}}
@media (orientation: portrait){body{flex-direction: column;}}

.txt
{
	font-size:14px;
	letter-spacing:5px;
	text-align:center;
}

#loader
{

	display:flex;
	align-items:center;
	justify-content:center;
  z-index: 1;
  width: 200px;
  height: 200px;
  border: 16px solid #f3f3f3;
  border-radius: 100%;
  border-top: 16px solid #14a376;
  animation: spin 2s linear infinite;
  position:absolute;
}

@keyframes spin
{
  0%
  {transform: rotate(0deg);}
  
  100%
  {transform: rotate(360deg);}
}
